<h1>edit content</h1>
<!-- base.html wird abgerufen und in die Seite eingebaut (kann unabhängig von table.html verändert werden)-->
{% extends 'base.html' %}

<!-- ? -->


<!-- Struktur der Tabelle wird festgelegt in block content-->
{% block content %}
<script>
    console.log({{ tableDef | safe }});
    console.log({{ rowData| safe }});
</script>

<div className="stdForm">
    <div css="hl">
        edit table row {{ rowId }}
    </div>
    <form method="POST" action="/api/row/edit/{{rowId}}" target="_blank">
        {% for defi in tableDef %}
            <div css="iptHl">{{defi['hl']}}</div>
            <input type="{{defi['hl']}}" name="{{defi['col']}}" style="text-align: {{defi['align']}};" placeholder="{{defi['placeholder']}}" value="{{rowData[defi['col']]}}" />
        {% endfor %}
        <button type="submit">ok</button>
        <button type="button" onclick="location.href='/table'">cancel</button>
    </form>
</div>


{% endblock %}